.skill{
    background-image: url(../picture/steffi-pereira-7cKcszWHD3o-unsplash.jpg);
  background-size: cover;
  border-radius: 15px;
  min-height: 65em;
  min-width: 44em;
  margin-left: 2em;
  margin-top: 1.3em;
  padding-top: 1em;
}
.content-text > h1 {
  font-family: "Oleo Script", cursive;
  font-size: 45px;
  margin-top: 0.7em;
  color: #f0f0f0;
}
.display-skill{
  display: flex;
  margin-bottom: 1em;
}
.display-skill > img {
  margin-left: 1em;
  width: 80px;
  height: 80px;
}
.body-14{
  height: 100%;
  font-family: "Oleo Script", cursive;
  place-items: center;
  display: flex;
}
.skills-bars{
  width: 600px;
  background: #fff;
  border-radius: 10px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 2);
  padding: 25px 30px;
  margin-left: 2em;
}
.skills-bars .bars {
  margin: 20px 0;
}
.skills-bars .bars:first-child {
  margin-top: 0px;
}
.skills-bars .bars .infos {
  margin-bottom: 5px;
}
.skills-bars .bars .infos span {
  font-size: 18px;
  font-weight: 500;
  opacity: 0;
  animation: showText 0.5s 1.5s linear forwards;
}
@keyframes showText {
  100%{
      opacity: 1;
  }
}
.skills-bars .bars .progress-line {
  position: relative;
  height: 10px;
  width: 100%;
  transform: scaleX(0);
  transform-origin: left;
  animation: animate 1s cubic-bezier(1, 0, 0.5, 1) forwards;
  background: #f0f0f0;
  box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.05),
                    0px 1px     rgba(255, 255, 255, 0.8);
  border-radius: 10px;
}     
@keyframes animate {
  100%{
      transform: scaleX(1);
  }
} 
.bars .progress-line span {
  height: 100%;
  width: 80%;
  background: #6665ee;
  position: absolute;
  border-radius: 10px;
  margin-left: -1.6em;
  transform: scaleX(0);
  transform-origin: left;
  animation: animate 1s 1s cubic-bezier(1, 0, 0.5, 1) forwards;
}         
.progress-line.html span{
  width: 80%;
}
.progress-line.css span{
  width: 83%;
}
.progress-line.javascript span{
  width: 82%;
}
.progress-line.nodejs span{
  width: 80%;
}
.progress-line.react span{
  width: 87%;
}
.progress-line.bootstrap span{
  width: 95%;
}
.progress-line.php span{
  width: 97%;
}
.bars .progress-line span::before{
  position: absolute;
  content: "";
  height: 0;
  right: 0;
  top: -10px;
  width: 0;
  border: 7px solid transparent;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-color: #000;
  opacity: 0;
  animation: showText2 0.5s 1.5s linear forwards;
}
@keyframes showText2{
  100%{
      opacity: 1;
  }
}
.bars .progress-line span::after{
  position: absolute;
  right: 0;
  top: -28px;
  color: #fff;
  font-size: 12px;
  font-weight: 500;
  background: #000;
  padding: 1px 8px;
  margin: 1px 0px;
  border-radius: 3px;
}
.progress-line.html span::after{
  content: "80%";
}
.progress-line.css span::after{
  content: "83%";
}
.progress-line.javascript span::after{
  content: "82%";
}
.progress-line.nodejs span::after{
  content: "80%";
}
.progress-line.react span::after{
  content: "87%";
}
.progress-line.bootstrap span::after{
  content: "95%";
}
.progress-line.php span::after{
  content: "97%";
}

.body-15{
  display: grid;
  height: 100%;
  place-items: center;
}
.body-16{
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}
.outers {
  position: relative;
  margin: 0 50px;
  background: #111;
  margin-top: 1em;
}
.button{
  height: 70px;
  width: 220px;
  border-radius: 50px;
}
.outers button, .outers span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.outers button {
  background: linear-gradient(to bottom right, #66ffcc 0%, #3399ff 100%);
  outline: none;
  border: none;
  font-size: 22px;
  letter-spacing: 1px;
  text-transform: uppercase;
  cursor: pointer;
  z-index: 9;
}
.button button {
  height: 60px;
  width: 210px;
  border-radius: 50px;
  color: rgb(198, 15, 15);
}
.outers span {
  height: 100%;
  width: 100%;
  background: inherit;
}
.button span {
  border-radius: 50px;
}
.outers:hover span:nth-child(1) {
  filter: blur(7px);
}
.outers:hover span:nth-child(2) {
  filter: blur(14px);
}
.outers:hover{
  animation: rotate 1.5s linear infinite;
  background: linear-gradient(#14ffe9, #ffeb3b, #ff00e0);
}
@keyframes rotate {
  0%{
      filter: hue-rotate(0deg);
  }
  100%{
      filter: hue-rotate(360deg);
  }
}
@media (max-width) {
  .body-16{
      flex-wrap: wrap;
      flex-direction: column;

  }
  .outers {
      margin: 50px 0px;
  }
}
.skill-same{
  margin-top: -1em;
  margin-bottom: 2em;
}
.second-skill{
  display: flex;
  margin-top: 1em;
}
.width-icon > button{
  min-width: 80px;
  min-height: 80px;
  border-radius: 20px;
  box-shadow: 5px 10px 16px rgba(0, 0, 0, .5);
  background-size: cover;
}
.skill-icon-1 > button{
  background-image: url(../picture/skill/273178_github_icon.png);
}
.skill-icon-2 > button{
  background-image: url(../picture/skill/google-logo-png-webinar-optimizing-for-success-google-business-webinar-13.png);
}
.skill-icon-3 > button{
  background-image: url(../picture/skill/mzl.gcxbqilv.png);
}
.skill-icon-4 > button{
  background-image: url(../picture/skill/OTgxd3mt_400x400.jpeg);
}
.skill-icon-5 > button{
  background-image: url(../picture/skill/mysql.png);
}
.skill-icon-6 > button{
  background-image: url(../picture/skill/docker-2752207-2285024.webp);
}
.skill-icon-7 > button{
  background-image: url(../picture/skill/unnamed.png);
}
.skill-icon-8 > button{
  background-image: url(../picture/skill/34940598-17cc20f0-f9be-11e7-8c6d-f0190d502d64.png);
}
.skill-icon-9 > button{
  background-image: url(../picture/skill/xampp.png);
}
.skill-icon-10 > button{
  background-image: url(../picture/skill/Illustrator-logo.jpeg);
}
.skill-icon-11 > button{
  background-image: url(../picture/skill/Adobe_Photoshop_CC_icon.svg.png);
}
.skill-icon-12 > button{
  background-image: url(../picture/skill/spline_icon_twitter.jpeg);
}
.skill-icon-13 > button{
  background-image: url(../picture/skill/Laravel.png);
}
.skill-icon-14 > button{
  background-image: url(../picture/skill/canva-logo.png);
}
.skill-icon-15 > button{
  background-image: url(../picture/skill/kisspng-iphone-8-plus-camiloc-oy-app-store-apple-logo-5acbdcb821d846.5097943615233097521386.jpg);
}
.outers > button > img {
  width: 30px;
  height: 30px;
  margin-left: 2px;
  margin-bottom: 5px;
}

/* ------------skill-copy----- */
.body-20{
	display: flex;
	justify-content: center;
	align-items: center;
	background: #08001b;
	min-height: auto;
  margin: 2% 4%;
  border-radius: 30px;
}

.body-21{
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}

.body-21 .card-skill{
	position: relative;
	width: 200px;
	height: 300px;
	background: #0c002b;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 20px;
	box-shadow: 0 20px 50px rgba(0,0,0,0.5);
	overflow: hidden;
}
.body-21:hover .card-skill{
	opacity: 0.5;

}
.body-21 .card-skill:hover{
	opacity: 1;

}
.body-21 .card-skill::before{
	content: '';
	position: absolute;
	top: 2px;
	left: 2px;
	bottom: 2px;
	width: 50%;
	pointer-events: none;
}

.body-21 .card-skill .content-skiller{
	text-align: center;
  margin-left: 20px;
  margin-right: 20px;
}

.body-21 .card-skill .content-skiller h2{
	position: absolute;
	right: 30px;
	font-size: 1.5em;
	font-weight: 800;
	color: #1779ff;
	z-index: 1;
	opacity: 0.1;
	transition: 0.5s;
}

.body-21 .card-skill:hover .content-skiller h2{
	opacity: 1;
	transform: translateY(-65px);
}

.body-21 .card-skill .content-skiller h3{
	position: relative;
	font-size: 0.8em;
	color: #fff;
	z-index: 2;
	opacity: 0.5;
	letter-spacing: 1px;
	transition: 0.5s;
}
.body-21 .card-skill .content-skiller p{
	position: relative;
	font-size: 0.5em;
  margin-bottom: -30px;
	color: #fff;
	z-index: 2;
	opacity: 0.5;
	font-weight: 300;
	transition: 0.5s;
  text-align: justify;
  text-indent: 40px;
}
.body-21 .card-skill:hover .content-skiller h3,
.body-21 .card-skill:hover .content-skiller p{
	opacity: 1;
}

.body-21 .card-skill span{
	transition: 0.5;
	opacity: 0;
}
.body-21 .card-skill:hover span{
	opacity: 1;
}
.body-21 .card-skill span:nth-child(1){
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 3px;
	background: linear-gradient(to right,transparent, #1779ff);
	animation: animate1 2s linear infinite;
}
@keyframes animate1{
	0%{
		transform: translateX(-100%);
	}
	100%{
		transform: translateX(100%);
	}
}

.body-21 .card-skill span:nth-child(2){
	position: absolute;
	top: 0;
	right: 0;
	width: 3px;
	height: 100%;
	background: linear-gradient(to bottom,transparent, #1779ff);
	animation: animate2 2s linear infinite;
	animation-delay: 1s;
}
@keyframes animate2{
	0%{
		transform: translateY(-100%);
	}
	100%{
		transform: translateY(100%);
	}
}

.body-21 .card-skill span:nth-child(3){
	position: absolute;
	bottom:0;
	left: 0;
	width: 100%;
	height: 3px;
	background: linear-gradient(to left,transparent, #1779ff);
	animation: animate3 2s linear infinite;
}
@keyframes animate3{
	0%{
		transform: translateX(100%);
	}
	100%{
		transform: translateX(-100%);
	}
}

.body-21 .card-skill span:nth-child(4){
	position: absolute;
	top: 0;
	left: 0;
	width: 3px;
	height: 100%;
	background: linear-gradient(to top,transparent, #1779ff);
	animation: animate4 2s linear infinite;
	animation-delay: 1s;
}
@keyframes animate4{
	0%{
		transform: translateY(100%);
	}
	100%{
		transform: translateY(-100%);
	}
}


